</div>

<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>HERE'S MY EMAIL</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        
        <ul class="contact-list">
          <li>MY INTERNETS</li>
          <li class="shift-left"> <ul class="social-media-list">
          
		          {% if site.twitter_username %}
		          <li>
		            {% include icon-twitter.html %}
		          </li>
		          {% endif %}
		          
		          {% if site.tumblr_username %}
		          <li>
		            {% include icon-tumblr.html %}
		          </li>
		          {% endif %}
		          
		          {% if site.dribbble_username %}
		          <li>
		            {% include icon-dribbble.html %}
		          </li>
		          {% endif %}
		          
		          {% if site.instagram_username %}
		          <li>
		            {% include icon-instagram.html %}
		          </li>
		          {% endif %}
		          
		          {% if site.email %}
		          <li>
		            {% include icon-email.html %}
		          </li>
		          {% endif %}
		       </ul>
		 </li>
		</ul>
      </div>

      <div class="footer-col footer-col-3">
        <p class="place">{{ site.location }}</p>
      </div>
    </div>

  </div>

</footer>

 <script src="../js/lightbox.js"></script>
